body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    background-color: white;
}

/* =========================================== HEADER =========================================== */

header {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

/* SLIDER HEADER */
.slider-header {
    height: 40px;
    background: black;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* CONTENEDOR */
.slider-cinta {
    width: 100%;
    overflow: hidden;
}

/* TRACK */
.track {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

.track p {
    white-space: nowrap;
    margin: 0 40px;
    font-size: 14px;
}

@keyframes scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.logoHeader {
    width: 60px;
}

.navegadorprincipal {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.navegador1, .navegador2, .navegador3 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.navegador1 a, .navegador2 a, .navegador3 a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

/* CONTENEDORES */
.tienda-hover,
.colecciones-hover,
.brand-hover {
    position: relative;
    display: inline-block;
}

/* PUENTE */
.tienda-hover::after,
.colecciones-hover::after,
.brand-hover::after {
    content:"";
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:40px;
}

/* MEGA MENU */
.mega-menu {
    position: fixed;
    top: 90px;
    left: 0;
    width: 430px;
    height: 100vh;
    background: #f2f2f2;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    pointer-events: none;
    z-index: 1000;
}

.tienda-hover:hover .mega-menu,
.tienda-hover:focus-within .mega-menu,
.colecciones-hover:hover .mega-menu,
.colecciones-hover:focus-within .mega-menu,
.brand-hover:hover .mega-menu,
.brand-hover:focus-within .mega-menu,
.mega-menu:hover {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.columna1 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    height: auto;
}

.columna1 img {
    width: 210px;
    height: auto;
}


.columna a {
    color: black;
    font-size: 13px;
}

/* SUBMENU */
.submenu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.submenu-item input {
    display: none;
}

.submenu-item label {
    cursor: pointer;
    font-size: 14px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: max-height 0.3s ease;
    padding-left: 10px;
}

.submenu-item input:checked + label + .submenu {
    max-height: 300px;
}

.submenu a {
    font-size: 13px;
    opacity: 0.7;
}

.submenu-item label::after {
    content: "+";
    float: right;
}

.submenu-item input:checked + label::after {
    content: "-";
}

/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    pointer-events: none;
}

.wrapper:has(.tienda-hover:hover) .overlay,
.wrapper:has(.colecciones-hover:hover) .overlay,
.wrapper:has(.brand-hover:hover) .overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* =======================================================================MAIN=========================================================================== */

main{
    width: 50%;
    font-size: 12px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.lista {
    list-style-type: disc;
}

.italico {
    font-style: italic;
    font-weight: bold;
}
/* ======================================================================FOOTER=========================================================================== */

/* ESTRUCTURA */
.footer {
    background-color: black;
    color: white;
    margin: 0px;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}

/* BLOQUE ENLACES */
.footer-contenedor-principal1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.footer-contenedor1,
.footer-contenedor2,
.footer-contenedor3,
.footer-contenedor4 {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

/* =========================================== OPCIONES DE SELECCIÓN (DIVISA) =========================================== */
.footer-contenedor4 {
    width: 260px;
    position: relative;
}

.footer-contenedor4 select {
    width: 100%;
    padding: 12px 40px 12px 12px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    font-size: 14px;
    appearance: none;
    cursor: pointer;
}

/* focus */
.footer-contenedor4 select:focus {
    outline: none;
}

.footer-contenedor1 a,
.footer-contenedor2 a,
.footer-contenedor3 a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

/* BLOQUE INFORMACIÓN Y LOGO */
.footer-contenedor-principal2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 40px;
}

.contenedor-info {
    width: 50%;
}


.p1 {
    font-size: 12px;
    font-weight: bold;
    color: rgb(143, 143, 143);
}

.p2 {
    font-size: 14px;
    margin: 10px 0;
}

.contenedor-info input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
}

.contenedor-imagen-logo {
    width: 40%;
    height: 200px;
    background-image: url('img/LOGOFOOTER.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.formulario-subscripcion {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
}

.formulario-suscripcion input {
    padding: 12px;
    width: 75%;
    border: none;
    outline: none;
    font-family: 'Space Mono', monospace;
    background-color: #1c1c1c;
    color: white;
}

.formulario-suscripcion button {
    padding: 12px 20px;
    background-color: #1c1c1c;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
}